[user]
	name = Benno Stein
	email = benno.stein@gmail.com
[core]
	excludesFile = ~/.gitignore
[branch]
	autosetuprebase = always
[init]
	defaultBranch = main
[alias]
	a = add
	amend = commit --amend
	b = branch
	c = commit
	checkpoint = commit -am wip && git reset HEAD^
	co = checkout
	contributors = shortlog -s -n
	ds = diff --staged
	fpoh = push origin HEAD --force-with-lease
	fpph = push bennostein HEAD --force-with-lease
	l = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lb = "!git log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' main..\"$1\""
	pph = push bennostein HEAD
	poh = push origin HEAD
	rb = rebase
	rbi = rebase --interactive
	rba = rebase --abort
	rbc = rebase --continue
	s = status
	sync = !git checkout origin/$1 && git branch --force $1 && git checkout $1 && git pull && :
	wd = diff --word-diff=color
	qa = commit --amend --no-edit
	unadd = restore --staged
	unstage = restore --staged
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
#[pager]
#	log = perl /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less
#	show = perl /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less
#	diff = perl /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less

[advice]
	detachedHead = false
