configuration {
  modi: "run,drun,window";
  kb-move-char-back: "Control+B";
  kb-move-char-forward: "Control+F";
  kb-mode-next: "Right";
  kb-mode-previous: "Left";
  kb-row-tab: "Super+Tab";
  show-icons: true;
}
@theme "centered"